.container-loader {
  margin-right: 30%;
  --size: 400px;
  width: var(--size);
  height: var(--size);
  position: relative;
  zoom: 0.5;
  transform: translateX(-50%);
}

.ball {
  position: absolute;
  width: calc(var(--size) + var(--i));
  height: calc(var(--size) + var(--i));
  background-color: var(--color);
  border-radius: 50%;
  animation: move 5s linear infinite;
  transform-origin: var(--size);
  mix-blend-mode: hard-light;
  animation-duration: var(--d);
  filter: blur(58px);

  &:nth-child(even) {
    animation-direction: reverse;
  }
}


@keyframes move {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}